<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/luxon@2.0.1/build/global/luxon.min.js" integrity="sha256-BdqBGuaawDzMtW2Wn9ISUuYKUY/A7d5NVcj6Ix3jwv8=" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CTF Admin</title>
    </head>
    <body style="margin-left:1.5rem;margin-right:1.5rem;">
        <h1 class="mt-4 mb-2">Test Finder</h1>
        <h4>Stock</h4>
        <% if(stock.length == 0) { %>
          <p class="mt-4 mb-4">There are no stocks to match.</p>
        <% } %>
        <% if(stock.length !== 0) { %>
            <ul>
                <% stock.forEach(function(t) { %>
                    <li><%= t.store %> - <%= t.testType %> - <%= t.storeID %> <a href="/stock/edit?id=<%= t._id %>">View</a></li>
                <% }) %>
            </ul>
        <% } %>
        <h4>Test Name</h4>
        <% if(type.length == 0) { %>
          <p class="mt-4 mb-4">There are no names to match.</p>
        <% } %>
        <% if(type.length !== 0) { %>
            <ul>
                <% type.forEach(function(t) { %>
                    <li><%= t.testName %> - <button onclick="sendData('/api/type/delete', 'id', '<%= t._id %>')"">Delete</button></li>
                <% }) %>
            </ul>
        <% } %>
        <h4>Test Type</h4>
        <% if(tt.length == 0) { %>
          <p class="mt-4 mb-4">There are no types to match.</p>
        <% } %>
        <% if(tt.length !== 0) { %>
            <ul>
                <% tt.forEach(function(t) { %>
                    <li><%= t.typeName %> - <button onclick="sendData('/api/testType/delete', 'id', '<%= t._id %>')"">Delete</button></li>
                <% }) %>
            </ul>
        <% } %>

        <h4>Create a test type (ex. binaxnow)</h4>
        <div class="row">
          <div class="col-auto">
            <label class="form-label" for="type">Test name: </label>
          </div>
          <div class="col-md-4">
            <input class="form-control mb-4" type="text" id="type" name="type">
          </div>
        </div>
        <button class="btn btn-primary" onclick="sendData('/api/type/create', 'name', document.querySelector('#type').value)" value="Submit" id="submit">Submit</button>
        <h4>Create a test type (ex. mail-in pcr)</h4>
        <div class="row">
          <div class="col-auto">
            <label class="form-label" for="type1">Type name: </label>
          </div>
          <div class="col-md-4">
            <input class="form-control mb-4" type="text" id="type1" name="type1">
          </div>
        </div>
        <button class="btn btn-primary" onclick="sendData('/api/testType/create', 'name', document.querySelector('#type1').value)" value="Submit" id="submit">Submit</button>

      <script>
        var delVal;
        var delVal2;
        function sendData(url, data1, data2, data3, data4, data5, data6, reload, resultId) {
      
          // Creating a XHR object
          let xhr = new XMLHttpRequest();
          var dataToSend;
          if(data1 !== undefined && data2 !== undefined && data3 !== undefined && data4 !== undefined && data5 !== undefined && data6 !== undefined){
            dataToSend = { [data1] : data2, [data3]: data4, [data5]: data6 }
          }
          else if(data1 !== undefined && data2 !== undefined && data3 !== undefined && data4 !== undefined){
            dataToSend = { [data1] : data2, [data3]: data4 }
          }
          else{
            dataToSend = { [data1] : data2 }
          }
          // open a connection
          xhr.open("POST", url, true);

          // Set the request header i.e. which type of content you are sending
          xhr.setRequestHeader("Content-Type", "application/json");

          // Create a state change callback
          xhr.onreadystatechange = function () {
              if (xhr.readyState === 4 && xhr.status === 200) {
                if(reload !== 'false' && reload !== 'falseReload'){
                  window.location = window.location
                }
                else if(reload == 'falseReload'){
                  const dataElement = document.querySelector('#' + resultId);
                  dataElement.innerHTML = xhr.responseText
                }
              }
              else if(resultId !== undefined && xhr.status !== 200){
                const dataElement = document.querySelector('#' + resultId);
                dataElement.innerHTML = xhr.responseText
              }
              else if(xhr.status !== 200){
                console.log(xhr.responseText)
              }
          };

          // Converting JSON data to string
          var data = JSON.stringify(dataToSend);

          // Sending data with the request
          xhr.send(data);
        }
        function logIdForSelItem(s){
          delVal = s[s.selectedIndex].id
          delVal2 = s[s.selectedIndex].value
        }
        function delSelected(){
          sendData('/api/category/delete', "id", delVal, "name", delVal2, 'delCatRes')
        }
        </script>
        <style>
        .hide{
          display:none;  
        }
        .center-inner{
          align-items: center;
       }
       .responsive-iframe {
          width: 100%;
       }
        </style>
      
    </body>
</html>